visita-reservation-cancel-cellnex/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_visita_reservation_cancel_cellnex_name": {
            "defaultValue": "visita-reservation-cancel-cellnex",
            "type": "String"
        },
        "connections_sharepointonline_externalid": {
            "defaultValue": "/subscriptions/39079313-fb1a-4587-a346-74914fa55493/resourceGroups/OfficeManager/providers/Microsoft.Web/connections/sharepointonline",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_visita_reservation_cancel_cellnex_name')]",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_item_is_created_or_modified": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 10
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://yourtenant.sharepoint.com/sites/OfficeManagerCellnex'))}/tables/@{encodeURIComponent(encodeURIComponent('1c1ac719-41c4-4286-ae0f-4a0515c02c7d'))}/onupdateditems"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "meetingId": "@{triggerBody()?['OM_OfficeMeetingId']}",
                                            "organizer": "@{triggerBody()?['OM_Organizer']?['Email']}"
                                        },
                                        "headers": {
                                            "X-RoomManager-User": "visitors-reservation-cancel"
                                        },
                                        "method": "POST",
                                        "uri": "https://{api-url}.azurewebsites.net/api/Parking/CancelReservation"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('IsCanceled')",
                                            "True"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IsCanceled",
                                        "type": "string",
                                        "value": "@{triggerBody()?['OM_ReservaCancelada']}"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sharepointonline": {
                                "connectionId": "[parameters('connections_sharepointonline_externalid')]",
                                "connectionName": "sharepointonline",
                                "id": "/subscriptions/39079313-fb1a-4587-a346-74914fa55493/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
                            }
                        }
                    }
                }
            }
        }
    ]
}